@use "../../../../styles/variables.scss" as *;

.container {
  margin-top: 20px;
  background: #fff;
  min-height: 100vh;
}

.headerSection {
  background: white;
  border-radius: 12px;
  // padding: 16px;
  margin-bottom: 24px;
  border: 1px solid #e5e7eb;
}

.companyHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e7eb;
  padding: 16px;
}

.contactsSection {
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e7eb;
  padding: 0px 16px 16px;
}

.metricsSection {
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e7eb;
  padding: 0px 16px 16px;
}

.equipmentSection {
  background: white;
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 24px;
  border: 1px solid #e5e7eb;
}

.resourcesSection {
  background: white;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid #e5e7eb;
}

.equipmentCard {
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}

.resourceCard {
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 768px) {
  .container {
    padding: 16px;
  }

  .companyHeader {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }

  .equipmentSection,
  .resourcesSection {
    padding: 16px;
  }
}

.sidebarTab {
  color: #181d27;
}

.sidebarTabInactive {
  color: #ef6820;
  background: #fef7ee;
}

.accordionItem {
  width: 100%;
}

.pickupAccordionButton {
  padding: 20px 24px;
}
